.cabezera h1{
    text-align: center;
}
.menu ul li {
 align-items: center;
 display: inline-block;
 margin: 150px;
 padding: 0px;
}
.pie{
    text-align: center;
    padding: 50px;
}
table {
    text-align: center;
    border: 1px;
}